body{
    margin: 0;
    }
.header {
    background-color:white;
    height: 50px;
    text-align:  center;
    }
.header a{
    color: #f00;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 5px 10px;
    display: inline-block;
    }
.header>a {
    font-weight: 700;
    }
.img{
    width: 100%;
    }
h2 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    letter-spacing: 3px;
    }
.text-p{
    font-family: monospace;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    margin: 40px;
    border: 20px;
    }
.button{
    background-color: #ff0000;
    color: white;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    margin: 100px auto;
    }
.copyright{
    text-align: right;
    font-family: monospace;
    margin: 40px;
    }